<!DOCTYPE html>
<html lang="es">
	<!-- Include Head -->
	<%- include('../partials/head', {title: 'Detalle de producto'}) %>
	<link rel="stylesheet" href="/css/productDetail.css" />
	<body>
		<!-- Header -->
		<%- include('../partials/header') %>
		<!-- /Header -->
		<body>
			<main>
				<div class="cont-detail-product">
					<div class="img-product">
						<img src="/images/products/<%= product.image %>" alt="product image" class="product-detail-img" />
						<img src="/images/products/<%= product.image %>" alt="product image" class="product-detail-img" />
						<img src="/images/products/<%= product.image %>" alt="product image" class="product-detail-img" />
						<img src="/images/products/<%= product.image %>" alt="product image" class="product-detail-img" />
					</div>

					<div class="detail">
						<div class="detail-product">
							<h3><%= product.name %></h3>
							<p>$ <%= toThousand(product.price) %></p>
							<h4>Detalles del producto:</h4>
							<div class="description"><%= product.description %></div>
						<button type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
							Ver más detalles
						  </button>
						</p>
						<div class="collapse" id="collapseExample">
						  <div class="card card-body">
							Productos oficiales, fabricados y confeccionados 100% en Argentina. <br />
							Bajo condiciones de trabajo responsables y de respeto.
						</div>
						</div>
					</div>
						<div class="color-product">
							<h5>Color</h5>
							<div class="dot-bg-<%=product.color%>"></div>
							
						</div>

						<div class="size">
							<h5>Talle</h5>
							<div class="detail-size">
								<ul>
									<li button type="button" class="detail-size">XS</li>
									<li button type="button" class="detail-size">S</li>
									<li button type="button" class="detail-size">M</li>
									<li button type="button" class="detail-size">L</li>
									<li button type="button" class="detail-size">XL</li>
									<li button type="button" class="detail-size">XXL</li>
									<li button type="button" class="detail-size">3XL</li>
								</ul>
							</div>
						</div>

						<h5>Cantidad</h5>
						<div class="shop">
							<div>
								<div class="container">
									<input type="button" class="btn btn-danger" onclick="decrementValue()" value="-" />
									<input type="text" name="quantity" value="1" maxlength="2" max="<%=product.stockquantity %>" size="1" id="number" readonly />
									<input type="button" class="btn btn-success" onclick="incrementValue()" value="+" />
								</div>

								<a href="../cart">
									<button type="button" class="btn btn-info">Agregar al carrito - $<%= toThousand(product.price) %></button>
								</a>
							</div>

							<h6><a href="">Envío gratis superando los $10.000</a></h6>
						</div>
					</div>
				</div>
			</main>
			<%- include('../partials/footer') %>
		</body>
	</body>
</html>
