<!DOCTYPE html>
<html lang="en">
	<!-- Include Head -->
	<%- include('partials/head', {title: 'ERROR 404 😞'}) %>
	<body>
		<%- include('./partials/header') %>
		<div class="error">
			<div class="image-box"><img src="/images/under-const.png" alt="" /></div>
			<div class="error-text">
				<div class="title"><h2>Lo sentimos!</h2></div>
				<div class="message">
					<p>Al parecer la pagina a la que intentaste acceder aun no esta terminada 😢</p>
					<p>Pero muy pronto lo estara! Nuestros desarolladores estan trabajando en ello 😊</p>
					<a href="/"> <button type="button" class="btn btn-primary btn-lg">Volver al Incio</button></a>
				</div>
			</div>
		</div>

		<h1>Ignora esto</h1>

		<h1><%= message %></h1>
		<h2><%= error.status %></h2>
		<p>Error trying to access to: <b><%= path %></b></p>
		<pre><i><%= error.stack %></i></pre>
	</body>
	<%- include('./partials/footer') %>
	<script src="./js/cookies.js"></script>
</html>
