<!DOCTYPE html>
<html lang="es">
	<!-- Include Head -->
	<%- include('partials/head', {title: 'Resultados de busqueda'}) %>
	<link rel="stylesheet" href="/css/productList.css" />
	<body>
		<%- include('./partials/header') %>
		<!-- /Header -->

		<!-- Banner -->
		<div class="banner"></div>
		<!-- /Banner -->

		<!-- todos los productos -->
		<div class="container products-wrapper">
			<div class="row">
				<div class="col-12">
					<h2 class="products-title">Resultados de la búsqueda: <%= search.charAt(0).toUpperCase() + search.slice(1) %></h2>
				</div>

				<% if (products.length > 0) { products.forEach(function(product){ let finalPrice = (product.price * ((100 - product.discount) / 100)).toFixed(0) %>
				<div class="col-lg-4 col-sm-6 col-6 bg-none p-3">
					<a href="/products/detail/<%= product.id %>">
						<section class="product-box">
							<figure class="card-img">
								<img class="product-img" src="/images/products/<%= product.image %>" alt="imagen de producto" />
							</figure>
							<article class="product-box_data">
								<h2>$ <%= toThousand(finalPrice) %></h2>
								<% if(parseInt(product.discount,10) > 0){%>
								<span style="color: red; font-weight: 800; border: 1px solid red"><%= product.discount %> %OFF</span>
								<%}%>
								<p><%= product.name %></p>
								<% if(parseInt(product.price,10) > 5000){%>
								<div style="color: green; font-weight: 800">Envio GRATIS</div>
								<i class="fas fa-truck" style="color: green"></i>
								<%}%>
							</article>
						</section>
					</a>
					<% })} else { %>
					<div class="col-12">
						<h2 class="products-title" style="color: tomato">No hay productos que coincidan con esa búsqueda 🥺</h2>
					</div>
					<% } %>
				</div>
			</div>
		</div>
		<nav aria-label="Page navigation example">
			<ul class="pagination justify-content-center">
				<li class="page-item disabled">
					<a class="page-link">Anterior</a>
				</li>
				<li class="page-item active" aria-current="page">
					<a class="page-link" href="#">1</a>
				</li>
				<li class="page-item"><a class="page-link" href="#">2</a></li>
				<li class="page-item"><a class="page-link" href="#">3</a></li>
				<li class="page-item">
					<a class="page-link" href="#">Siguiente</a>
				</li>
			</ul>
		</nav>
		<!-- todos los productos -->
		<%- include('./partials/footer') %>
	</body>
</html>
