<!DOCTYPE html>
<html lang="es">
	<!-- Include Head -->
	<%- include('../partials/head', {title: 'Iniciar sesión'}) %>
  <link rel="stylesheet" href="/css/login.css" />
  <script src="/js/loginFrontValidatoe.js"></script>

  <body>
    <!-- Header -->
    <%- include('../partials/header') %>
    <!-- /Header -->
  <body>
    <main class="register">
      <div class="datos-registro">
        <div class="logo-ctn">
          <img src="/images/loginvector.svg" alt="" class="pic" />
        </div>
        <div class="title-login"><h2>Bienvenido!</h2></div>
        <% if(locals.errorMsg){ %>
                          <div class="alert alert-danger" role="alert">
            <%= errorMsg %>
</div>
              <% } %> 
        <% if(locals.errorsLogin && locals.errorsLogin.email){ %>
          <div class="alert alert-danger" role="alert">
            <%= locals.errorsLogin.email.msg %>
</div>
        <% }; %>
          <% if(locals.errorsLogin && locals.errorsLogin.password){ %>
          <div class="alert alert-danger" role="alert">
            <%= locals.errorsLogin.password.msg %>
</div>
        <% }; %>

        <ul class="errores"></ul> <!--Se agrega la clase errores, para que se pueda mostrar los errores que se validan desde el front-->

        <h3>Ingresar con correo electronico:</h3>
      </div>
      <ul class="erroresLogin"></ul> <!--Se agrega la clase errores, para que se pueda mostrar los errores que se validan desde el front-->
      <form action="/users/login" method="POST" id="formLoginUser">
        <input class="form-control p-2 my-2" id="emailLogin" type="email" name="email" placeholder="Correo Electronico" />
        <input class="form-control p-2 my-2" id="passwordLogin"  type="password" name="password" placeholder="Contraseña" />
        <div class="recordar-check my-2"><label><input type="checkbox" name="remember" id="remember" value="true"> Recordar mi cuenta</label></div>
      </div>
      <div class="google_button">
        <img src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg" alt="">
        <p>Continuar con Google</p>
      </div>
      <br>
        <input type="submit" value="Ingresar" />
        <br />
        ¿No tienes una cuenta? <a href="../users/register" class="a_top_hypers"><span style="color: blue;">Regístrate</a>
        <br />
      </form>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>
