<!DOCTYPE html>
<html lang="es">
  <!-- Include Head -->
  <%- include('../partials/head', {title: 'Registrarse'}) %>
  <link rel="stylesheet" href="/css/register.css" />
  <body>
    <!-- Header -->
    <%- include('../partials/header') %>

  <body>
    <main class="register">

      <div class="container">
        <img src = "/images/profile.svg" alt="SVG IMG"/>
        <h2>Crear cuenta</h2>
        <% if (locals.errors){ %> 
          <% errors.forEach(error => { %>
          <div class="alert alert-danger w-50 text-center" role="alert">
            <%= error.msg %>
</div>
        <% }); %> 
        <% } %> 
        <br/>
        <h3>Datos de registro:</h3>
      <ul class="errores"></ul> <!--Se agrega la clase errores, para que se pueda mostrar los errores que se validan desde el front-->
      <form action="/users/register" enctype="multipart/form-data" method="POST">
        <input class="form-control p-2 my-1" id = "first_name" type="text" name="first_name" placeholder="Nombre" />
        <input class="form-control p-2 my-1" id = "last_name" type="text" name="last_name" placeholder="Apellido" value="<%= locals.old && old.lastName ? old.lastName : "" %>" />
        <input class="form-control p-2 my-1" id = "email" type="email" name="email" placeholder="Correo Electronico" />
        <input class="form-control p-2 my-1" id = "password" type="password" name="password" placeholder="Elegí tu contraseña" />
        <input class="form-control p-2 my-1" id = "address" type="text" name="address" placeholder="Elegí tu direccion de envio" />
  
         <!--Esto es para colocar si es user o admin, toca hacer un middleware-->
        <br />
        <label for="avatar" class="form-label">Elegí tú Imagen:</label>
        <br />
        			<input type="file" name="avatar" id="avatar" class="form-input" />
							<small id="imageHelpBlock" class="form-text text-muted"> Imagen de hasta 2 mb </small>
        <br />
        <input type="submit" value="Registrarse" />
        <br />
        ¿Ya tienes una cuenta? <a href="./login" class="a_top_hypers"><span style="color: blue;">Iniciar sesión</a>
        <br />
      </form>
      </div>
    </main>
<%- include('../partials/footer') %>
  </body>


</html>
