<!DOCTYPE html>
<html lang="es">
  <!-- Include Head -->
  <%- include('../partials/head', {title: 'Registrarse'}) %>
  <link rel="stylesheet" href="/css/register.css" />
  <body>
    <!-- Header -->
    <%- include('../partials/header') %>

  <body>
    <main class="register">

      <div class="container">
        <img src = "/images/profile.svg" alt="SVG IMG"/>
        <h2>Crear cuenta</h2>
        <% if (locals.errors){ %> 
          <% errors.forEach(error => { %>
          <div class="alert alert-danger" role="alert">
            <%= error.msg %>
</div>
        <% }); %> 
        <% } %> 
        <br/>
        <h3>Datos de registro:</h3>
      <form action="/users/register" method="POST">
        <input type="name" name="firstName" placeholder="Nombre" />
        <input type="name" name="lastName" placeholder="Apellido" value="<%= locals.old && old.lastName ? old.lastName : "" %>" />
        <input type="email" name="email" placeholder="Correo Electronico" />
        <input type="password" name="password" placeholder="Elegí tu contraseña" />
  
         <!--Esto es para colocar si es user o admin, toca hacer un middleware-->
        <label>Categoria: </label> <select name="role">
          <option value="user">Usuario</option>
          <option value="admin">Administrador</option>
        </select>
        <br />
        <label for="image" class="form-label">Elegí tú Imagen:</label>
        <br />
        <input type="file" name="image" placeholder="" accept=".jpg" />
        <br />
        <br />
        <br />
        <input type="submit" value="Registrarse" />
        <br />
        ¿Ya tienes una cuenta? <a href="./login" class="a_top_hypers"><span style="color: blue;">Iniciar sesión</a>
        <br />
      </form>
      </div>
    </main>
<%- include('../partials/footer') %>
  </body>


</html>
