<!DOCTYPE html>
<html lang="es">
	<!-- Include Head -->
	<%- include('../partials/head', {title: 'Atualizando Perfil: ' + userToEdit.first_name }) %>
	<link rel="stylesheet" href="/css/userEdit.css" type="text/css">

	<body>
		<%- include('../partials/header') %>
		<main>
			<div class="col-11 col-lg-8">
				<h2 class="users-title">Estás Actulizando Tú Perfil: <%= userToEdit.name %> </i></h2>
				<form action="/users/profile/edit/<%= userToEdit.id %>?_method=PUT" method="POST">
					<div class="row user-detail">
						<div class="col-12 col-md-10">
							<label for="firstName" class="form-label">Nombre:</label>
							<input type="text" id="firstName" name="firstName" value="<%= userToEdit.first_name %>"" class="form-input" />
						</div>

						<div class="col-12 col-md-10">
							<label for="lastName" class="form-label">Apellido:</label>
							<input type="text" id="lastName" name="lastName" value="<%= userToEdit.last_name %>"" class="form-input" />
						</div>

						<div class="col-12 col-md-10">
							<label for="email" class="form-label">Email:</label>
							<input type="email" id="email" name="email" value="<%= userToEdit.email %>"" class="form-input" />
						</div>

						<div class="col-12 col-md-10">
							<label for="password" class="form-label">Actualizar Contraseña:</label>
							<input type="password" id="password" name="password" value="" class="form-input" />
						</div>

						<div class="col-12 col-md-10">
							<label for="address" class="form-label">Dirección:</label>
							<input type="address" id="address" name="address" value="<%= userToEdit.address %>"" class="form-input" />
						</div>

						<div class="recordar-check">
							<label><input type="checkbox" name="newsletter" id="newsletter" value="true"> Sumate a nuestras novedades</label>
						</div>

						<div class="col-12 col-md-10">
							<label for="imageprofile" class="form-label">Imagen:</label>
							<input type="file" name="imageuser" id="imageuser" class="form-input" />
						</div>

						<div class="button-84">
							<button type="submit" class="button-84"> Actualizar Perfil</button>
						</div>
					</div>
				</form>
			</div>
		</main>
		<%- include('../partials/footer') %>
	</body>
</html>
